#contact{
    height: auto;
    text-align: center;
    width: 100%;
    background: #010c0f;
    position: relative; 
}
.contact-header{
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: raleway;
    color: #eaf9fd;
    padding:10px;
    padding-bottom: 30px;
    padding-top: 60px;
    font-weight: 900;
    padding-top: 100px;
}
.contact-header-caption{
    padding: 10px;
    color: #eaf9fd;
    opacity: .9;
    font-family:raleway;
    font-size: 18px;
}
.contact-content{
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.contact-info{
    width: 40%;
    height: auto;
    background: url(../images/contact-back.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.contact-info::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #101010;
    opacity: .8;
    pointer-events: none;
}
/* ________________________________________ */
.contact-info-header{
    position: relative;
    z-index: 2;
    font-size: 28px;
    font-family: poppins;
    font-weight: 400;
    color: #eaf9fd;
    padding: 30px;
}
.contect-info-content-line{
    height: auto;
    padding: 15px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-left: 10%;
}
.contact-info-icon-text{
    color: #eaf9fd;
    padding:20px;
    font-family: poppins;
}
.contact-info-icon-text h6{
    font-size: 20px;
    opacity: .8;
}
.contact-info-icon-text p{
    font-size: 16px;
    opacity: .7;
}
/*

For devices with smaller width like mobile phone


*/
@media only screen and (max-width: 550px){
    .contact-content{
        width: 90%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-header{
        color: #eaf9fd;

        justify-content: center;
        font-size: 35px;
        font-family: raleway;
        padding:10px;
        padding-top: 100px;
        font-weight: 900;
    }
    .contact-info{
        width: 90%;
        height: auto;
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;
        padding-bottom: 15px;
    }
    .contact-info::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #101010;
        opacity: .7;
        pointer-events: none;
    }
    /* _________________________________________ */
    .contact-info-header{
        position: relative;
        z-index: 2;
        font-size: 24px;
        font-family: poppins;
        font-weight: 400;
        color: #eaf9fd;
        padding: 20px;
    }
    .contect-info-content-line{
        height: auto;
        padding: 15px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin-left: 5%;
    }
    .contact-info-icon-text{
        color: #eaf9fd;
        padding:15px;
        font-family: poppins;
    }
    .contact-info-icon-text h6{
        font-size: 20px;
        opacity: .8;
    }
    .contact-info-icon-text p{
        font-size: 16px;
        opacity: .7;
    }
}
/*

for tabs and large phones

*/
@media all and (max-width: 1025px) and (min-width: 551px){
    .contact-content{
        width: 90%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-info{
        width: 80%;
        height: auto;
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;
        padding-bottom: 15px;
    }
    .contact-info::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #101010;
        opacity: .7;
        pointer-events: none;
    }
    /* ________________________________________ */
    .contact-info-header{
        position: relative;
        z-index: 2;
        font-size: 28px;
        font-family: poppins;
        font-weight: 400;
        color: #eaf9fd;
        padding: 20px;
    }
    .contect-info-content-line{
        height: auto;
        padding: 15px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin-left: 10%;
    }
    .footer{
        bottom: 0; 
        position: fixed;
    }
}

/* For Devices with high resolution */

@media all and (max-width: 9000px) and (min-width: 1441px){
    .contact-header{
        height: auto;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 45px;
        font-family: raleway;
        color: #eaf9fd;
        padding:10px;
        padding-bottom: 20px;
        padding-top: 60px;
        font-weight: 900;
    }
    .contact-header-caption{
        padding: 10px;
        color: #eaf9fd;
        opacity: .9;
        font-family:raleway;
        font-size: 18px;
    }
    .contact-content{
        width: 90%;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .contact-info{
        width: 40%;
        height: auto;
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
        padding-bottom: 15px;
    }
    .contact-info::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #101010;
        opacity: .7;
        pointer-events: none;
    }
    .footer{
        bottom: 0; 
        position: fixed;
    }    
}
