#header{
    background:#010c0f;
    height: 100vh;
    width: 100%;;
    overflow: hidden;
    animation: scale 1.5s ease;
    position:relative;
    display: block;
}
#particles{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
    display: block;
}
.header-image img{
    height: 100vh;
    float: right;
}
.header-image{
    float: right;
    height: auto;
    background-size: cover;
    background-position: center;
    width: 40%;   
    height: 100vh;

}
.header-content{
    height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #eaf9fd;
    font-family: raleway;
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 50px;
    z-index: 1;
}
.header-content-box{
    z-index: 2;
    text-align: center;
    height: auto;
    padding-right: 60px;
    width: auto;

}
.header-content .firstline{
    z-index: 2;
    font-weight:700;
    font-family: poppins;
    font-size: 65px;
    padding-right: 14px;
}
.header-content .secondline{
    z-index: 2;
    font-size: 30px;
    padding-top:20px ;
    font-weight:500;
    color: rgb(255, 255, 255,.8);
}
.social-media-links{
    height: 100vh;
    position: absolute;
    z-index: 2;
    padding: 60px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-media{
    color: white;
    width:  26px;
    opacity: .7;
    margin: 8px;
    transition: all .4s ease;
}
.social-media:hover{
    opacity: 1;
    transform: scale(1.1);
}
.contact{
    display: flex;
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
}
.contact a{
    z-index: 3;
}
.contact img{
    margin:10px;
    height:30px;
    opacity: .7;
    transition: all .4s ease;
}
.contact img:hover{
    opacity: 1;
    transform: scale(1.1);
}
/*

For devices with smaller width like mobile phone


*/
@media only screen and (max-width: 550px){
    .header-content{
        height: 100vh;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #eaf9fd;
        font-family: raleway;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 50px;
    }
    .contact{
        display: none;
    }
    .header-image{
        float: right;
        height: auto;
        width: 0%;   
    }
    .social-media-links{
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        padding: 10px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .header-content-box{
        padding-left: 0px;
        z-index: 2;
        text-align: center;
        font-size: 64px;
        padding: 20px
    }
    #breaker{
        height: 50vh;
        width: 200%;
        background-color: #40cff7;
        opacity: 1;
        animation: breakeranimate 2s linear;
        display: none;
        transition: all .4s ease;
        z-index: 10;
        position: fixed;
    }
    @keyframes breakeranimate{
       0%{ transform : translateX(-100%)}
       50%{ transform : translateX(0%) }
       100%{ transform : translateX(100%) }
    }
    @-webkit-keyframes breakeranimate{
        0%{ transform : translateX(-100%) }
        50%{ transform : translateX(0%) }
        100%{ transform : translateX(100%) }
    }
    .header-content-box{
        z-index: 2;
        text-align: center;
        height: auto;
        padding-right: 0px;
        width: auto;
    
    }
}
/*

for tabs and large phones

*/
@media all and (max-width: 1025px) and (min-width: 551px){
    .header-content{
        height: 100vh;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #eaf9fd;
        font-family: raleway;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 40px;
    }
    .header-image{
        float: right;
        height: auto;
        width: 0%;   
    }
    .social-media-links{
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        padding: 10px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .header-content-box{
        padding-left: 0px;
        z-index: 2;
        text-align: center;
    }
    .contact{
        display: none;
    }
    #breaker{
        height: 50vh;
        width: 200%;
        background-color: #40cff7;
        opacity: 1;
        animation: breakeranimate 2s linear;
        display: none;
        transition: all .4s ease;
        z-index: 10;
        position: fixed;
    }
    @keyframes breakeranimate{
       0%{ transform : translateX(-100%)}
       50%{ transform : translateX(0%) }
       100%{ transform : translateX(100%) }
    }
    @-webkit-keyframes breakeranimate{
        0%{ transform : translateX(-100%) }
        50%{ transform : translateX(0%) }
        100%{ transform : translateX(100%) }
    }
    .header-content-box{
        z-index: 2;
        text-align: center;
        height: auto;
        padding-right: 0px;
        width: auto;
    
    }
}
@media all and (max-width: 9000px) and (min-width: 1441px){

}